@custom-variant dark (&:where(.dark, .dark *));
@custom-variant medium-contrast (&:where(.medium-contrast, .medium-contrast *));
@custom-variant high-contrast (&:where(.high-contrast, .high-contrast *));
@custom-variant dark-medium-contrast (&:where(.dark-medium-contrast, .dark-medium-contrast *));
@custom-variant dark-high-contrast (&:where(.dark-high-contrast, .dark-high-contrast *));

@theme {
  /* Light Theme (Default) */
  --color-primary: #35618E;
  --color-surface-tint: #35618E;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #D1E4FF;
  --color-on-primary-container: #184974;
  --color-secondary: #535F70;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #D6E4F7;
  --color-on-secondary-container: #3B4858;
  --color-tertiary: #6A5778;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #F2DAFF;
  --color-on-tertiary-container: #524060;
  --color-error: #BA1A1A;
  --color-on-error: #FFFFFF;
  --color-error-container: #FFDAD6;
  --color-on-error-container: #93000A;
  --color-background: #F8F9FF;
  --color-on-background: #191C20;
  --color-surface: #F8F9FF;
  --color-on-surface: #191C20;
  --color-surface-variant: #DFE2EB;
  --color-on-surface-variant: #42474E;
  --color-outline: #73777F;
  --color-outline-variant: #C3C7CF;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #2E3135;
  --color-inverse-on-surface: #EFF0F7;
  --color-inverse-primary: #9FCAFD;
  --color-primary-fixed: #D1E4FF;
  --color-on-primary-fixed: #001D35;
  --color-primary-fixed-dim: #9FCAFD;
  --color-on-primary-fixed-variant: #184974;
  --color-secondary-fixed: #D6E4F7;
  --color-on-secondary-fixed: #0F1C2B;
  --color-secondary-fixed-dim: #BAC8DB;
  --color-on-secondary-fixed-variant: #3B4858;
  --color-tertiary-fixed: #F2DAFF;
  --color-on-tertiary-fixed: #251432;
  --color-tertiary-fixed-dim: #D6BEE5;
  --color-on-tertiary-fixed-variant: #524060;
  --color-surface-dim: #D8DAE0;
  --color-surface-bright: #F8F9FF;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #F2F3F9;
  --color-surface-container: #ECEEF4;
  --color-surface-container-high: #E6E8EE;
  --color-surface-container-highest: #E1E2E8;
}

.dark {
  /* dark */
  --color-primary: #9FCAFD;
  --color-surface-tint: #9FCAFD;
  --color-on-primary: #003257;
  --color-primary-container: #184974;
  --color-on-primary-container: #D1E4FF;
  --color-secondary: #BAC8DB;
  --color-on-secondary: #253140;
  --color-secondary-container: #3B4858;
  --color-on-secondary-container: #D6E4F7;
  --color-tertiary: #D6BEE5;
  --color-on-tertiary: #3A2948;
  --color-tertiary-container: #524060;
  --color-on-tertiary-container: #F2DAFF;
  --color-error: #FFB4AB;
  --color-on-error: #690005;
  --color-error-container: #93000A;
  --color-on-error-container: #FFDAD6;
  --color-background: #101418;
  --color-on-background: #E1E2E8;
  --color-surface: #101418;
  --color-on-surface: #E1E2E8;
  --color-surface-variant: #42474E;
  --color-on-surface-variant: #C3C7CF;
  --color-outline: #8D9199;
  --color-outline-variant: #42474E;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #E1E2E8;
  --color-inverse-on-surface: #2E3135;
  --color-inverse-primary: #35618E;
  --color-primary-fixed: #D1E4FF;
  --color-on-primary-fixed: #001D35;
  --color-primary-fixed-dim: #9FCAFD;
  --color-on-primary-fixed-variant: #184974;
  --color-secondary-fixed: #D6E4F7;
  --color-on-secondary-fixed: #0F1C2B;
  --color-secondary-fixed-dim: #BAC8DB;
  --color-on-secondary-fixed-variant: #3B4858;
  --color-tertiary-fixed: #F2DAFF;
  --color-on-tertiary-fixed: #251432;
  --color-tertiary-fixed-dim: #D6BEE5;
  --color-on-tertiary-fixed-variant: #524060;
  --color-surface-dim: #101418;
  --color-surface-bright: #36393E;
  --color-surface-container-lowest: #0B0E13;
  --color-surface-container-low: #191C20;
  --color-surface-container: #1D2024;
  --color-surface-container-high: #272A2F;
  --color-surface-container-highest: #32353A;
}

.light-medium-contrast {
  /* light-medium-contrast */
  --color-primary: #003861;
  --color-surface-tint: #35618E;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #45709D;
  --color-on-primary-container: #FFFFFF;
  --color-secondary: #2A3746;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #616E7F;
  --color-on-secondary-container: #FFFFFF;
  --color-tertiary: #402F4E;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #7A6588;
  --color-on-tertiary-container: #FFFFFF;
  --color-error: #740006;
  --color-on-error: #FFFFFF;
  --color-error-container: #CF2C27;
  --color-on-error-container: #FFFFFF;
  --color-background: #F8F9FF;
  --color-on-background: #191C20;
  --color-surface: #F8F9FF;
  --color-on-surface: #0E1116;
  --color-surface-variant: #DFE2EB;
  --color-on-surface-variant: #32363D;
  --color-outline: #4E535A;
  --color-outline-variant: #696D75;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #2E3135;
  --color-inverse-on-surface: #EFF0F7;
  --color-inverse-primary: #9FCAFD;
  --color-primary-fixed: #45709D;
  --color-on-primary-fixed: #FFFFFF;
  --color-primary-fixed-dim: #2A5783;
  --color-on-primary-fixed-variant: #FFFFFF;
  --color-secondary-fixed: #616E7F;
  --color-on-secondary-fixed: #FFFFFF;
  --color-secondary-fixed-dim: #495666;
  --color-on-secondary-fixed-variant: #FFFFFF;
  --color-tertiary-fixed: #7A6588;
  --color-on-tertiary-fixed: #FFFFFF;
  --color-tertiary-fixed-dim: #604D6E;
  --color-on-tertiary-fixed-variant: #FFFFFF;
  --color-surface-dim: #C4C6CC;
  --color-surface-bright: #F8F9FF;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #F2F3F9;
  --color-surface-container: #E6E8EE;
  --color-surface-container-high: #DBDDE3;
  --color-surface-container-highest: #D0D1D7;
}

.light-high-contrast {
  /* light-high-contrast */
  --color-primary: #002E50;
  --color-surface-tint: #35618E;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #1B4C77;
  --color-on-primary-container: #FFFFFF;
  --color-secondary: #202D3C;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #3D4A5A;
  --color-on-secondary-container: #FFFFFF;
  --color-tertiary: #362543;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #544262;
  --color-on-tertiary-container: #FFFFFF;
  --color-error: #600004;
  --color-on-error: #FFFFFF;
  --color-error-container: #98000A;
  --color-on-error-container: #FFFFFF;
  --color-background: #F8F9FF;
  --color-on-background: #191C20;
  --color-surface: #F8F9FF;
  --color-on-surface: #000000;
  --color-surface-variant: #DFE2EB;
  --color-on-surface-variant: #000000;
  --color-outline: #282C33;
  --color-outline-variant: #454950;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #2E3135;
  --color-inverse-on-surface: #FFFFFF;
  --color-inverse-primary: #9FCAFD;
  --color-primary-fixed: #1B4C77;
  --color-on-primary-fixed: #FFFFFF;
  --color-primary-fixed-dim: #00355B;
  --color-on-primary-fixed-variant: #FFFFFF;
  --color-secondary-fixed: #3D4A5A;
  --color-on-secondary-fixed: #FFFFFF;
  --color-secondary-fixed-dim: #273443;
  --color-on-secondary-fixed-variant: #FFFFFF;
  --color-tertiary-fixed: #544262;
  --color-on-tertiary-fixed: #FFFFFF;
  --color-tertiary-fixed-dim: #3D2C4A;
  --color-on-tertiary-fixed-variant: #FFFFFF;
  --color-surface-dim: #B7B9BE;
  --color-surface-bright: #F8F9FF;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #EFF0F7;
  --color-surface-container: #E1E2E8;
  --color-surface-container-high: #D2D4DA;
  --color-surface-container-highest: #C4C6CC;
}

.dark-medium-contrast {
  /* dark-medium-contrast */
  --color-primary: #C6DEFF;
  --color-surface-tint: #9FCAFD;
  --color-on-primary: #002746;
  --color-primary-container: #6994C3;
  --color-on-primary-container: #000000;
  --color-secondary: #D0DDF1;
  --color-on-secondary: #1A2735;
  --color-secondary-container: #8592A4;
  --color-on-secondary-container: #000000;
  --color-tertiary: #ECD3FB;
  --color-on-tertiary: #2F1F3C;
  --color-tertiary-container: #9E89AD;
  --color-on-tertiary-container: #000000;
  --color-error: #FFD2CC;
  --color-on-error: #540003;
  --color-error-container: #FF5449;
  --color-on-error-container: #000000;
  --color-background: #101418;
  --color-on-background: #E1E2E8;
  --color-surface: #101418;
  --color-on-surface: #FFFFFF;
  --color-surface-variant: #42474E;
  --color-on-surface-variant: #D8DCE5;
  --color-outline: #AEB2BA;
  --color-outline-variant: #8C9098;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #E1E2E8;
  --color-inverse-on-surface: #272A2F;
  --color-inverse-primary: #194A76;
  --color-primary-fixed: #D1E4FF;
  --color-on-primary-fixed: #001224;
  --color-primary-fixed-dim: #9FCAFD;
  --color-on-primary-fixed-variant: #003861;
  --color-secondary-fixed: #D6E4F7;
  --color-on-secondary-fixed: #051220;
  --color-secondary-fixed-dim: #BAC8DB;
  --color-on-secondary-fixed-variant: #2A3746;
  --color-tertiary-fixed: #F2DAFF;
  --color-on-tertiary-fixed: #1A0927;
  --color-tertiary-fixed-dim: #D6BEE5;
  --color-on-tertiary-fixed-variant: #402F4E;
  --color-surface-dim: #101418;
  --color-surface-bright: #424549;
  --color-surface-container-lowest: #05080B;
  --color-surface-container-low: #1B1E22;
  --color-surface-container: #25282D;
  --color-surface-container-high: #303337;
  --color-surface-container-highest: #3B3E43;
}

.dark-high-contrast {
  /* dark-high-contrast */
  --color-primary: #E8F1FF;
  --color-surface-tint: #9FCAFD;
  --color-on-primary: #000000;
  --color-primary-container: #9BC6F8;
  --color-on-primary-container: #000C1B;
  --color-secondary: #E8F1FF;
  --color-on-secondary: #000000;
  --color-secondary-container: #B6C4D7;
  --color-on-secondary-container: #010C1A;
  --color-tertiary: #FAEBFF;
  --color-on-tertiary: #000000;
  --color-tertiary-container: #D2BAE1;
  --color-on-tertiary-container: #130420;
  --color-error: #FFECE9;
  --color-on-error: #000000;
  --color-error-container: #FFAEA4;
  --color-on-error-container: #220001;
  --color-background: #101418;
  --color-on-background: #E1E2E8;
  --color-surface: #101418;
  --color-on-surface: #FFFFFF;
  --color-surface-variant: #42474E;
  --color-on-surface-variant: #FFFFFF;
  --color-outline: #ECF0F9;
  --color-outline-variant: #BFC3CB;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #E1E2E8;
  --color-inverse-on-surface: #000000;
  --color-inverse-primary: #194A76;
  --color-primary-fixed: #D1E4FF;
  --color-on-primary-fixed: #000000;
  --color-primary-fixed-dim: #9FCAFD;
  --color-on-primary-fixed-variant: #001224;
  --color-secondary-fixed: #D6E4F7;
  --color-on-secondary-fixed: #000000;
  --color-secondary-fixed-dim: #BAC8DB;
  --color-on-secondary-fixed-variant: #051220;
  --color-tertiary-fixed: #F2DAFF;
  --color-on-tertiary-fixed: #000000;
  --color-tertiary-fixed-dim: #D6BEE5;
  --color-on-tertiary-fixed-variant: #1A0927;
  --color-surface-dim: #101418;
  --color-surface-bright: #4D5055;
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #1D2024;
  --color-surface-container: #2E3135;
  --color-surface-container-high: #393C40;
  --color-surface-container-highest: #44474C;
}